In [31]:
import pandas as pd

In [32]:
import statistics

In [33]:
df = pd.read_csv("Downloads/budget_data.csv")

In [34]:
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [82]:
Total_Months = len(df["Profit/Losses"].unique())
Total_Months

86

In [83]:
Total_Profit = df['Profit/Losses']

In [85]:
Total_Profit.sum()

38382578

In [99]:
Net_Change = df["Profit/Losses"].diff(+1)
df["Net_Change"] = Net_Change
df.head()

       Date  Profit/Losses  Net_Change
0  Jan-2010         867884         NaN
1  Feb-2010         984655    116771.0
2  Mar-2010         322013   -662642.0
3  Apr-2010         -69417   -391430.0
4  May-2010         310503    379920.0

In [102]:
Avg_Change = df["Net_Change"].mean()
Avg_Change = round(int(Avg_Change))
Avg_Change

-2315

In [117]:
Greatest_Increase = df["Net_Change"].max()
Greatest_Increase = round(int(Greatest_Increase))

In [126]:
Greatest_Increase

1926159

In [128]:
Greatest_Decrease = df["Net_Change"].min()
Greatest_Decrease = round(int(Greatest_Decrease))

In [129]:
Greatest_Decrease

-2196167

In [141]:
print("Financial Analysis")
print("------------------")
print("Total Monthts:", Total_Months)
print("Average Change:", "$",Avg_Change)
print("Greatest Increase in Profits: $", Greatest_Increase)
print("Greatest Decrease in Profits: $", Greatest_Decrease)

Financial Analysis
------------------
Total Monthts: 86
Average Change: $ -2315
Greatest Increase in Profits: $ 1926159
Greatest Decrease in Profits: $ -2196167

In [ ]:
# Was unsure how to get the date and include it in the greatest increase/decrease portion